* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  Navbar {
    flex-direction: column;
    align-items: center;
  }
}

.nav {
  background-color: rgb(235, 200, 136);
  display: flex;
  justify-content: space-between;
  height: 40vh;
  width: 100%;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  text-transform: uppercase;
  font-size: 35px;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}

.lista ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.lista ul li {
  padding: 20px;
  text-decoration: none;
  color: rgb(165, 151, 133);
  text-transform: capitalize;
}
